<ion-view view-title="Contact List">
   <ion-content>
		<div class="list" ng-show="phoneContacts">
            <div class="card" ng-repeat="contact in phoneContacts">
              <div class="item item-text-wrap item-icon-right">
                <a ng-repeat="number in contact.phoneNumbers" ng-show="number.value != null" href="tel:{{ number.value }}">
                  <p>{{ contact.name.formatted }}</p><i class="icon ion-ios-telephone-outline"></i>
                </a>
              </div>
            </div>
          </div>
	</ion-content>
</ion-view>


